<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>User Dashboard</h1>
        <a href="{% url "job_seeker:user_profile_form" %}"> <button type="button" class="btn btn-primary" name="button">User Profile Form</button> </a>
      </div>
    </div>
  </body>
</html>
