<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Company Dashboard</h1>
        <a href="{% url "company:company_profile_form" %}"> <button type="button" name="button" class="btn btn-primary">Company Profile</button> </a>
      </div>
    </div>
  </body>
</html>
